body { 	
  margin-left: 50px;
  margin-top: 25px; 
}

h1 { font-size: 1.5em; }
fieldset {
  width: 455px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 0;


  border: 2px solid #D6D6D6;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  font-family: Tahoma;
  background: #F5F5F5;
}

p { 
  margin: 0;
  padding: 0;
  font-size: 22px;
}

input {
  width: 300px;
  height: 30px;

  margin-right: 15px;
  margin-bottom: 0;
  margin-top: 15px;
  padding: 0;
  text-indent: 7px;

  background: #FCFCFC;

  border: 1px solid #aaa;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*submit button */

.submit {
  width: 110px;
  height: 33px;
  padding: 0;
  margin: 0;

  color: #383838;
  background: #C7D9E5;

  font-size: 19px;

  border: 1px solid #8F8F8F;
  box-shadow: none;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.submit:active {
  position: relative;
  top: 2px;
  cursor: pointer
}

.submit:focus, .submit:hover { 
  cursor: pointer;
  box-shadow: 0 0 5px #ccc, 0 10px 15px #ebebeb;
  border: 1px solid #555555;
}    